<!DOCTYPE html>
<html lang="en">
<body>
    <style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: transparent;
          color: white;
          text-align: center;
        }
        </style>
        
        <div class="footer">
            <footer class="p-4 bg-transparent shadow md:flex md:items-center md:justify-between md:p-6">
                <span class="text-sm text-gray-500 sm:text-center">© 2022 <a href="https://flowbite.com/" class="hover:underline">PremiumWines™</a>. All Rights Reserved.
                </span>
                <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
                    <li>
                        <a href="#" >Contact</a>
                    </li>
                </ul>
            </footer>
        </div>
</body>