<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <nav class="px-2 sm:px-4 py-2.5" style="background-color:#4A332D">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="/" class="flex items-center">
              <!--img src="https://img.icons8.com/fluency/344/weather-forecast.png" class="mr-3 h-6 sm:h-9" style="width:50px; height:50px; position:relative; left:70px"/-->
              <span class="self-center text-2xl font-serif whitespace-nowrap text-blue-50" style="position:relative; left:70px"><b>Premium Wines</b></span>
          </a>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 bg-sky-200 border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-xl md:font-serif md:border-0 md:bg-gray-600" style="position:relative; left:-70px">
              <li>
                <a href="/" class="block py-2 pr-4 pl-3 bg-gray-700 text-white md:bg-transparent md:p-0">Home</a>
              </li>
              <li>
                <a href="/items" class="block py-2 pr-4 pl-3 text-blue-50 md:p-0">Products</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
      
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</head>
</html>