<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="icon" href="https://www.pngrepo.com/png/44192/180/wine.png">
    <%- include('../partials/header.ejs') %>
</head>

<body style="background-color:#F5F2EA">

    <img align="right" src="https://pngimg.com/uploads/wine/wine_PNG99027.png" alt="" style="width:500px; height:630px"/>
    <br>

    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl" style="color:#434343;margin-left:250px;margin-top:100px">Taste of Luxury</h1>

    <p class="pl-11 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 ml-5" style="color:#434343;margin-left:210px;margin-top:1px">Want a glass of wine? Get your charcuterie board, let's have a party!</p>
    <br>
    <button onClick="location.href='/items'" class="ml-11 py-2.5 px-6 mr-2 mb-2 text-sm font-medium rounded-lg border" style="background-color:#4A332D;color:#F5F2EA;margin-left:250px;margin-top:1px">Shop now</button>

<%- include('../partials/footer.ejs') %>
</body>
</html>