<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <%- include('../partials/header.ejs') %>
</head>

<body style="background-color:#F5F2EA">
    <img src="https://pngimg.com/uploads/wine/wine_PNG99027.png"/>
    <p>Taste of Luxury</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.</p>

   <%- include('../partials/footer.ejs') %>
</body>
</html>