<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <%- include('../partials/header.ejs') %>
</head>

<body style="background-color:#F5F2EA">

    <img align="right" src="https://pngimg.com/uploads/wine/wine_PNG99027.png" alt="" style="width:500px; height:630px"/>
    <br>
    <h1 class="pl-11 pt-6 mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl" style="color:#434343">Taste of Luxury</h1>

    
    <p class="pl-11 max-w-lg text-3xl font-semibold leading-relaxed text-gray-900 ml-5" style="color:#434343; text-align:left">Want a glass of wine? Get your charcuterie board, let's have a party!</p>


   <%- include('../partials/footer.ejs') %>
</body>
</html>