<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="icon" href="https://www.pngrepo.com/png/44192/180/wine.png">
    <%- include('../partials/header.ejs') %>
</head>
<body>
    <!--%= itemData[index].data()['name'] %-->
</body>
</html>