<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('../partials/header.ejs') %>
</head>
<body style="background-color:#F5F2EA">

    <% for(var index=0; index < itemData.length; index++){ %>
        <h5><%= itemData[index].data()['name'] %></h5>
    <% } %>
    
    <%- include('../partials/footer.ejs') %>

</body>
</html>